<footer>
    <div style="float: left;" class="category">
        <ul>
            <h4>&#169;2023 Jesus Diaz | Zymbiote</h4>
            <p>
                This is my portfolio project 
            </p>
        </ul>
    </div>
    <div class="category">
        <ul>
            <li class="social-link social-icon"><i class="fa fa-github"></i></li>
            <li class="social-link social-icon"><i class="fa fa-linkedin-square"></i></li>
            <li class="social-link social-icon"><i class="fa fa-youtube-play"></i></li>
        </ul>
    </div>
    <div class="category">
        <ul>
            <h4>Contacts</h4>
            <li><a class="contact-link" href="mailto:jdiazndca21@gmail.com">Email: <span style="text-decoration: underline;">jdiazndca21&#64;gmail.com</span></a></li>
            <br><li><a>Phone: <span style="text-decoration: underline;">469-996-8340</span></a></li>
        </ul>
    </div>
</footer>