<nav class="navbar">
    <a class="nav-logo" [class.active]="activeTab === 'home'" (click)="setActiveTab('home')" routerLink="">Zymb!ot3</a>

    <ul class="nav-menu">
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'home'" (click)="setActiveTab('home')" routerLink="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'about'" (click)="setActiveTab('about')" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'store'" (click)="setActiveTab('store')" routerLink="/store">Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'project'" (click)="setActiveTab('project')" routerLink="/project">Projects</a>
        </li>
    </ul>
    
    <div class="hamburger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>